 body{
	 background: #202f46 fixed;
	 background-size: cover;
 }
 #micarrusel{
	 top: -25;
	 
 }
 .carousel-indicators li{
	 width: 2em;
 }
.item_1{
	background: url(luz.png) fixed;
	background-size:cover;
}
.item_2{
	background: url(ojo.jpg) fixed;
	background-size: cover;
}


.item_3{
	background: url(lluvia.png) fixed;
	background-size: cover;
}
.item .item_label{
	
	width: 8em;
	text-align: right;
	color: #ffffff;
	font-size: 20;
	font-weight: bold;
}
.item_label h1{
	color: #3073ac;
	font-size: 50;
}
.descripcion_carrusel{
	
	width: 8em;
	text-align: right;
	color: #ffffff;
	font-size: 20;
	font-weight: bold;	
}
.item {
  height: 35em;
  background-color: #777;
}
/*.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}*/

.navegador{
	background: #343a40 fixed;
	background-size: cover;
	font-color:white;
}
.lista{
	font-color: white;
	
}
.contenido{
	margin-top:0.5em;
}
.nav-link{
	font-color: white;
	font-size: 1em;
	
}
.label_nav{
	font-size:2em;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	color: white;
	
	margin-right: 1em;
	
}
.row{
	margin-top:1em;
	position: center;
	
	
}
.texto{
	text-align: center;
	color:white;
}
.contendio.h2{
	font-size: 2em; 
	color: white;
}